= form_with(model: @blog, local: true) do |f|
  .field
    .field-label
      = f.label :name, "URL"
    .field-input
      = f.url_field :url, placeholder: "記事URL"
  .field
    .field-label
      = f.label :name, "タイトル"
    .field-input
      = f.text_field :title, placeholder: "記事タイトル（最大100文字）"
  .field
    .field-label
      = f.label :紹介文
    .field-input
      = f.text_area :body, placeholder: "紹介文（最大400文字）"
  .field
    .field-label
      = f.radio_button(:category_id, "3", checked: true)
      = f.label :個人ブログ
      = f.radio_button(:category_id, "2")
      = f.label :企業ブログ
  .field
    .field-label
      %label.field__search--label--text タグを追加（クリックで選択、最大10個）
    .field__search--form
      %input.field__search--form--input#tag-form{autocomplete: "off", placeholder: "タグを検索"}
    #search-result
  .field
    .field-label--result
      %label.field__include--label--text 選択済（クリックで削除）
  = render "tags/form"
  .actions
    = f.submit "登録", class: 'btn'