%header
  .header__title
    = link_to "EngineerBlogs.map!",root_path, data:{"turbolinks" => false}
  .header__menu
    = icon("fa", "bars", class: "header__menu-icon")
  .header__contents
    - if user_signed_in?
      = link_to "ブログ検索", search_show_blogs_path, class: "header__contents__items", data:{"turbolinks" => false}
      = link_to "ブログ共有", new_blog_path, class: "header__contents__items", data:{"turbolinks" => false}
      = link_to "マイページ", user_path(current_user), class: "header__contents__items"
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header__contents__items"
    - else
      = link_to "ブログ検索", search_show_blogs_path, class: "header__contents__items", data:{"turbolinks" => false}
      = link_to "ログイン", new_user_session_path, class: "header__contents__items"
      = link_to "ユーザー登録", new_user_registration_path, class: "header__contents__items"

-# ハンバーガーメニュー
.top-menu__contents 
  - if user_signed_in?
    = link_to "ブログ検索", search_show_blogs_path, class: "top-menu__contents__items", data:{"turbolinks" => false}
    = link_to "ブログ共有", new_blog_path, class: "top-menu__contents__items", data:{"turbolinks" => false}
    = link_to "マイページ", user_path(current_user), class: "top-menu__contents__items"
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "top-menu__contents__items"
  - else
    = link_to "ブログ検索", search_show_blogs_path, class: "top-menu__contents__items", data:{"turbolinks" => false}
    = link_to "ログイン", new_user_session_path, class: "top-menu__contents__items"
    = link_to "ユーザー登録", new_user_registration_path, class: "top-menu__contents__items"
  %p.top-menu__contents__close 閉じる