%section.main
  .main__index
    = icon("fas", "chevron-left", class: "main__index--left--arrow", id: "left-arrow")
    = icon("fas", "chevron-right", class: "main__index--right--arrow", id: "right-arrow")
    %ul.main__index__list
      %p.main__index__list--category 人気ブログ
      - @blogs.each_with_index do |blog, rank|
        %li.main__index__list--title
          %span.main__index__list--title--rank
            = "#{rank + 1}位\b"
          = link_to blog.title, blog_path(blog)
        %li.main__index__list--tag
          %a.tags-icon
            = icon("fas", "tags", class: "main__index__list--tag--icon")
          - blog.tags.each do |tag|
            %p.main__index__list--tag--partial
              = tag.name
        %li.main__index__list--function#like-icon{ id: blog.id }
          = render partial: "like_blogs/index", locals: { blog: blog }
    %ul.main__index__list.hidden--sm
      %p.main__index__list--category 新着ブログ
      - @new_blogs.each do |blog|
        %li.main__index__list--title
          %span.main__index__list--title--rank
          = link_to blog.title, blog_path(blog)
        %li.main__index__list--tag
          %a.tags-icon
            = icon("fas", "tags", class: "main__index__list--tag--icon")
          - blog.tags.each do |tag|
            %p.main__index__list--tag--partial
              = tag.name
        %li.main__index__list--function#like-icon-new{ id: blog.id }
          = render partial: "like_blogs/index", locals: { blog: blog }