.search__left.hidden--md
  = search_form_for(@q, url:search_show_blogs_path) do |f|
    .search__left__form
      .search__left__form--label
        = f.label :title_cont_all, "タイトル"
      .search__left__form--field
        = f.search_field :title_cont_all, class: "search__left__form--field--title"
    .search__left__form
      .search__left__form--label
        = f.label :body_cont_all, "紹介文"
      .search__left__form--field
        = f.search_field :body_cont_all, class: "search__left__form--field--body"
    .search__left__form
      .search__left__form--label
        = f.label :category_id_in, "カテゴリー"
      .search__left__form--field--category
        = f.collection_check_boxes :category_id_in, @categories, :id, :name, class: "search__left__form--field--category"
    .search__left__form
      .search__left__form--label
        %label.search__left__form--label--text タグを追加（クリックで選択）
    .search__left__form--tag
      %input.search__left__form--field--tag.field__search--form--input#search-form{autocomplete: "off"}
    #search-result__show.search__left__form--result
    .search__left__form
      .search__left__form--label
        %label.search__left__form--label--text 選択済（クリックで削除）
    .search__left__form--tag
      .search__left__form--tag--pushed.js-new-tags
    .search__left__sort
      = f.select(:sorts, {"登録が新しい順": "created_at DESC", "登録が古い順": "created_at ASC"}, {selected: params[:q][:sorts]}, class: "search__left__sort--tab")
    .search__left__action
      = f.submit "検索", class: "search__left__action--btn", id: "search-submit"