.search
  = render "search"
  .search__right
    .search__right__index
      - @blogs.each do |blog|
        .search__right__index--each
          .search__right__index--each__title
            = link_to blog.title, blog_path(blog.id)
          .search__right__index--each__tags
            %a.tags-icon
              = icon("fas", "tags", class: "#")
            - blog.tags.each do |tag|
              %p.main__index__list--tag--partial.main__index__list--tag--partial--search
                = tag.name
          .search__right__index--each__body
            %p= blog.body
          .search__right__index--each__like#like-icon{ id: blog.id }
            = render partial: "like_blogs/index", locals: { blog: blog }