= render "header"
.blog
  .blog__left
    .blog__left--container
      .blog__left__title
        = link_to @blog.title, @blog.url, target: :_blank
      .blog__left__body
        = simple_format (@blog.body), class:"blog__left__body--text"
      .blog_left--edit-container
        .blog__left__person
          - if @blog.owner_id.present?
            = link_to "所有ユーザー：#{@owner.name}", user_path(@owner), class:"blog__left__person--owner"
          = link_to "登録ユーザー：#{@regist_user.name}", user_path(@regist_user), class:"blog__left__person--owner"
        .blog__left__edit
          - if user_signed_in? && @blog.owner_id.present? && @blog.owner_id == current_user.id
            = link_to edit_blog_path(@blog.id), class: "blog__left__edit--each", data:{"turbolinks" => false} do
              = icon("fa", "edit")
            = link_to blog_path(@blog.id), data: {confirm: "削除しますか？"}, class: "blog__left__edit--each", method: :delete do
              = icon("fa", "trash-alt")
          - if user_signed_in? && @blog.owner_id.nil? && @blog.user_id == current_user.id
            = link_to edit_blog_path(@blog.id), class: "blog__left__edit--each", data:{"turbolinks" => false} do
              = icon("fa", "edit")
            = link_to blog_path(@blog.id), data: {confirm: "削除しますか？"}, class: "blog__left__edit--each", method: :delete do
              = icon("fa", "trash-alt")
    .blog__review
      - if user_signed_in?
        .blog__review__title レビュー投稿
        = form_with(model: [@blog, @review], local: true) do |f|
          .blog__review__form
            .blog__review__form--label
              = f.label :おすすめ記事（任意）
            .blog__review__form--input
              = f.url_field :article_url, class:"blog__review__form--body", placeholder: "記事URL"
          .blog__review__form
            .blog__review__form--label
              = f.label :記事タイトル（任意）
            .blog__review__form--input
              = f.text_field :article_title, class:"blog__review__form--body", placeholder: "記事タイトル（最大100文字）"
          .blog__review__form
            .blog__review__form--label
              = f.label :レビュー（必須）
            .blog__review__form--input
              = f.text_area :body, class:"blog__review__form--body", size: "40x3", placeholder: "レビュー本文（最大200文字）"
          .blog__review__form
            = f.submit "投稿", class:"blog__review__form--btn"
  .blog__right
    = render "reviews/show"