= render "blogs/header"
.user
  .user__left
    .user__left__profile
      %p.user__left__profile__name
        = "#{@user.name}さんのプロフィール"
      .user__left__profile__intro
        = simple_format(@user.introduction)
      .user__left__profile__myblog
        - if @own_blogs.present?
          - @own_blogs.each do |blog|
            .user__left__profile__myblog--each
            %span.user__left__profile__myblog--each--text 所有ブログ：
            = link_to "#{blog.title}", blog.url, class: "user__profile__myblog--each--content"
            = link_to delete_myblog_blog_path(blog.id), data: {confirm: "MyBlogの登録を解除しますか？"}, class: "user__profile__myblog--each--trash", method: :delete do
              = icon("fa", "trash-alt")
          .user__left__profile__myblog--new
            = link_to "マイブログ登録", new_myblog_blogs_path, data:{"turbolinks" => false}
        - else
          My Blogは登録されていません
          .user__left__profile__myblog--new
            = link_to "マイブログ登録", new_myblog_blogs_path, data:{"turbolinks" => false}
      - if user_signed_in? && @user.id == current_user.id
        = link_to "プロフィールを編集", edit_user_path(current_user), class: "user__profile__edit"
  - if user_signed_in? && @user.id == current_user.id
    .user__right
      .user__right__blogs
        .user__right__blogs__title
          %p.user__right__blogs__title--text お気に入り個人ブログ
          - if @blogs.exists?
            - @blogs.each do |blog|
              .user__right__blogs__each
                .user__right__blogs__each--title
                  = link_to blog.title, blog_path(blog)
                .user__right__blogs__each--tag
                  %a.tags-icon
                    = icon("fas", "tags", class: "main__index__list--tag--icon")
                  - blog.tags.each do |tag|
                    %p.user__right__blogs__each--tag--each.main__index__list--tag--partial
                      = tag.name
                .main__index__list--function#like-icon{ id: blog.id }
                  = render partial: "like_blogs/index", locals: { blog: blog }
            .paginate
              = paginate(@blogs)
          - else
            .user__right__blogs__each--error
              お気に入り登録されているブログはありません