= render "blogs/header"
.user
  .user__left
    .user__left__profile
      %p.user__left__profile__name
        = @user.name
      .user__left__profile__intro
        = simple_format(@user.introduction)
      .user__left__profile__myblog
        - if @own_blogs.present?
          - @own_blogs.each do |own_blog|
            .user__left__profile__myblog--each
              %span.user__left__profile__myblog--each--text MyBlog：
              = link_to "#{own_blog.title}", blog_path(own_blog.id), class: "user__profile__myblog--each--content"
              - if user_signed_in? && @user.id == current_user.id
                = link_to delete_myblog_blog_path(own_blog.id), class: "user__profile__myblog--each--trash", data: {confirm: "MyBlogの登録を解除しますか？"}, method: :delete do
                  = icon("fa", "trash-alt")
        - else
          .user__left__profile__myblog--caution
            = icon("fa", "exclamation-triangle")
            %span.uset__left__profile__myblog--caution--text MyBlog未登録です
      - if user_signed_in? && @user.id == current_user.id
        .user__left__profile__myblog--registration
          = link_to new_myblog_blogs_path, class: "user__left__profile__myblog--registration--icon", data:{"turbolinks" => false} do
            = icon("fa", "user-plus")
            %span<>
            %span.user__left__profile__myblog--text MyBlog登録
        .user__left__profile__edit
          = link_to edit_user_path(current_user), class: "user__left__profile__edit--icon" do
            = icon("fa", "edit")
            %span<>
            %span.user__left__profile__edit--icon--text プロフィール編集
  - if user_signed_in? && @user.id == current_user.id
    .user__right
      .user__right__blogs
        .user__right__blogs__title
          %p.user__right__blogs__title--text お気に入り登録ブログ
        - if @like_blogs.exists?
          - @like_blogs.each do |like_blog|
            .user__right__blogs__each
              .user__right__blogs__each--title
                = link_to like_blog.title, blog_path(like_blog)
              .user__right__blogs__each--tag
                %a.tags-icon
                  = icon("fas", "tags", class: "main__index__list--tag--icon")
                - like_blog.tags.each do |tag|
                  %p.user__right__blogs__each--tag--each.main__index__list--tag--partial
                    = tag.name
              .main__index__list--function#like-icon{ id: like_blog.id }
                = render partial: "like_blogs/index", locals: { blog: like_blog }
          .paginate
            = paginate(@like_blogs)
        - else
          .user__right__blogs__each--error
            お気に入りブログはありません