= render "blogs/header"
.user
  .user__profile
    %p.user__profile__name
      = "#{@user.name}さんのプロフィール"
    .user__profile__intro
      = simple_format(@user.introduction)
    .user__profile__myblog
      - if @own_blogs.present?
        - @own_blogs.each do |blog|
          .user__profile__myblog--each
          %span.user__profile__myblog--each--text 所有ブログ：
          = link_to "#{blog.title}", blog.url, class: "user__profile__myblog--each--content"
          = link_to delete_myblog_blog_path(blog.id), data: {confirm: "MyBlogの登録を解除しますか？"}, class: "user__profile__myblog--each--trash", method: :delete do
            = icon("fa", "trash-alt")
        .user__profile__myblog--new
          = link_to "マイブログ登録", new_myblog_blogs_path, data:{"turbolinks" => false}
      - else
        My Blogはありません。
        .user__profile__myblog--new
          = link_to "マイブログ登録", new_myblog_blogs_path, data:{"turbolinks" => false}
    - if user_signed_in? && @user.id == current_user.id
      = link_to "プロフィールを編集", edit_user_path(current_user), class: "user__profile__edit"
  - if user_signed_in? && @user.id == current_user.id
    .user__container
      .user__container__blogs
        %ul.user__container__blogs__person
          お気に入り個人ブログ
          - if @person_blogs.exists?
            - @person_blogs.each do |blog|
              %li.user__container__blogs__person--title
                = link_to blog.title, blog_path(blog)
              %li.user__container__blogs__person--tag
                - blog.tags.each do |tag|
                  %p.user__container__blogs__person--tag--each.main__index__list--tag--partial
                    = tag.name
              %li.main__index__list--function#like-icon{ id: blog.id }
                = render partial: "like_blogs/index", locals: { blog: blog }
          - else
            .user__container__blogs__person--error
              お気に入り登録されているブログはありません
        %ul.user__container__blogs__person
          お気に入り企業ブログ
          - if @campany_blogs.exists?
            - @campany_blogs.each do |blog|
              %li.user__container__blogs__person--title
                = link_to blog.title, blog_path(blog)
              %li.user__container__blogs__person--tag
                - blog.tags.each do |tag|
                  %p.user__container__blogs__person--tag--each.main__index__list--tag--partial
                    = tag.name
              %li.main__index__list--function#like-icon{ id: blog.id }
                = render partial: "like_blogs/index", locals: { blog: blog }
          - else
            .user__container__blogs__person--error
              お気に入り登録されているブログはありません
              