- if @reviews.present?
  .blog__right__title
    レビュー一覧
  - @reviews.each do |review|
    .blog__right__review
      .blog__right__review__top
        .blog__right__review__top--title
          = link_to "#{review.article_title}", review.article_url, target: :_blank, class: "blog__right__review__top--title--text"
      .blog__right__review--middle
        = simple_format (review.body), class: "blog__right__review__middle--body"
      .blog__right__review__bottom
        .blog__right__review__bottom--info
          = link_to "#{review.user.name}", user_path(review.user), class: "blog__right__review__bottom--info--name"
          %a.blog__right__review__bottom--info--date
            = l review.created_at
        .blog__right__review__bottom--link
          - if user_signed_in? && review.user.id == current_user.id
            = link_to edit_blog_review_path(review.id), class: "blog__right__review__bottom--link--edit" do
              = icon("fa", "edit")
            = link_to blog_review_path(review.id), class: "blog__right__review__bottom--link--delete", data: {confirm: "削除しますか？"}, method: :delete do
              = icon("fa", "trash-alt")
  .paginate
    = paginate(@reviews)
- else
  .blog__right__title
    まだレビューはありません