%p.main__index__list--function--like
  - if user_signed_in?
    - if blog.like_by?(current_user)
      お気に入り解除：
      = link_to like_blog_path(blog), class: "like-icon", method: :delete do
        = icon("far", "heart", class: "like-icon__link")
      = blog.like_blogs.count
    - else
      お気に入り登録：
      = link_to like_blogs_path(blog), class: "like-icon", method: :post do
        = icon("far", "heart", class: "like-icon__link")
      = blog.like_blogs.count
  - else
    お気に入り：
    = icon("far", "heart", class: "like-icon__link")
    = blog.like_blogs.count